{{ define "color" }}
<p style="background-color: rgba({{.R}}, {{.G}}, {{.B}}, {{.A}}); color:{{if (lt .R 100) and (lt .G 100) and (lt .B 100)}}white{{end}};">{{.}}</p>
{{ end }}

{{ define "battleImage" }}
  <img src="{{.Image.URL}}">
  <h3>Kmeans</h3>
  {{ range .Colors }}
    {{ template "color" . }}
  {{ end }}

  <h3>Most Common</h3>
  {{ template "color" .MostUsedColor }}
{{ end }}

<html>
<head>
  <title>GIF BATTLE</title>
  <style>
  body {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
  }
  h1 {
    margin: auto;
    text-align: center;
    width: 100%;
  }
  div#left, div#right {
    flex: 0 0 40%;
    margin: auto;
  }
  img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
  }
  </style>
</head>
<body>
  <h1>Pick your favorite GIF and let us find your favorite color!</h1>
  <div id="left">
    {{template "battleImage" .Left}}
  </div>
  <div id="right">
    {{template "battleImage" .Right}}
  </div>
</body>
</html>
